.cart-container {
  margin-top: 16px;
  max-width: 1400px;
  margin-left: 15%;
  margin-right: 10%;
  margin-bottom: 75px;
}

.cart-item-button {
  min-width: 24px;
  height: 24px;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  border-color: lightgray;
}

.cart-item-button:hover {
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}

.no-item {
  display: flex;
  justify-content: center;
}

.cart-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  /* max-width: 500px; */
}

.cart-item input {
  width: 32px;
  height: 24px;
}

.cart-item-menu {
  max-width: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
  margin-left: auto;
}

.cart button[type="submit"] {
  align-self: flex-end;
  font-size: 18px;
  padding: 0 16px;
}

.cart form {
  display: flex;
  justify-content: flex-end;
}

.cart-item-number {
  -moz-appearance: textfield;
  text-align: center;
}

.cart-item-number::-webkit-outer-spin-button,
.cart-item-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* .cart-card {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
} */

.cart-image-pic {
  height: 170px;
  width: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
}

.cart-header-price-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.quantity-price-checkout-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count-span {
  font-weight: bold;
}

.cart-item-header {
  font-weight: bold;
  font-size: 16px;
}

.cart-item-header:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cart-item-price {
  margin-right: 1%;
}

.remove-button-cart {
  /* min-width: 24px; */
  height: 24px;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  border-color: lightgray;
}

.remove-button-cart:hover {
  cursor: pointer;
  background-color: rgb(231, 231, 231);
}
