.whole-review-card-container {
    display: flex;
    width: 55%;
}

.review-card {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    /* justify-content: */
    height: 150px;
    margin-bottom: 10px;
}


.actual-review {
    margin-top: 10px;
}

.purchased-item-div {
    width: 90%;
    font-size: 12px;
    padding: 10px 0px;
    color: rgb(100, 99, 99);
}

.purchased-span {
    font-weight: bold;
    color: rgb(88, 88, 88);
}

.review-image {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.user-pic-name-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.username {
    margin-left: 8px;
}

.filled-star {
    color: rgb(0, 0, 0);
  }

.empty-star {
    color: rgb(202, 202, 202);
}

.edit-delete-btn {
    margin-left: 500px;
}

.edit-btn {
    margin-right: 5px;
}

