.whole-review-card-container {
    display: flex;
    width: 55%;
}

.review-card {
    /* border: 1px solid lightgrey; */
    display: flex;
    flex-direction: row;
    /* justify-content: */
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.left-side-review-card {
    width: 700px;
}

.actual-review {
    margin-top: 10px;
    text-overflow: wrap;
    word-wrap: break-word;
    width: 700px;
    /* overflow: auto; */
}

.purchased-item-div {
    width: 100%;
    font-size: 12px;
    padding: 10px 0px;
    color: rgb(100, 99, 99);
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.purchased-span {
    font-weight: bold;
    color: rgb(88, 88, 88);
}

.review-image {
    height: 100%;
    width: auto;
    object-fit: cover;
    margin-left: 10px;
}

.user-pic-name-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.username {
    margin-left: 8px;
}

.filled-star {
    color: rgb(0, 0, 0);
  }

.empty-star {
    color: rgb(202, 202, 202);
}

.edit-delete-btn {
    padding-left: 325px;
}

.delete-review {
    background-color: white;
    border: 1px red solid;
    color: red;
    border-radius: 3px;
    cursor: pointer;
}

.edit-btn {
    margin-right: 5px;
    background-color: white;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.star-rating-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviews-and-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 860px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 15px;
}

.review-btn {
    background-color: white;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
