.whole-footer-container {
  height: 45px;
  background-color: rgb(82, 109, 82);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  flex-wrap: nowrap;
}

.my-name-footer {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  font-weight: bold;
}

.width-name {
  min-width: 150px;
}

.language-framework {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: auto;
  padding-left: 10px;
}


.language-framework img {
  height: 27px;
  padding: 0 5px;
}

.sql-icon, .flask-icon {
  font-size: 35px;
  color: black;
}

.whole-footer-container .my-name-footer, a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.devicon-linkedin-plain{
  margin-right: 20px;
}

.whole-footer-container a {
  text-decoration: none;
  font-size: 25px;
}
