.one-plant-container {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.top-plant-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

/* .extra-photos-container{
    width: 80px;
    border: 1px black solid;
} */

.preview-image-div {
    height: 600px;
    width: 650px;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 1%;
}

.plant-information-container {
    display: flex;
    width: 400px;
    flex-direction: column;
    /* border: 2px solid purple; */
    /* line-height: 20px; */
}

.add-cart-button {
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.fast-shipping {
    margin-top: 10px;
    /* font-size: 15px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.fast-shipping-text-hoo {
    font-size: 12px;
    font-weight:bold;
    margin-left: 15px;
}

.fast-shipping-text {
    font-size: 12px;
}

.price-tag {
    font-size: 28px;
    font-weight: bold;
    margin: 0px;
}


.plant-name-div {
    /* font-weight: bold; */
    margin-top: 10px;
    line-height: 21px;
    text-overflow: wrap;
    word-wrap: break-word;
}

.desc-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.description {
    line-height: 25px;
    word-wrap: break-word;
    /* overflow-y: scroll; */
}

.edit-delete-button {
    display: flex;
    flex-direction: row;
}

.edit-spot, .delete-spot {
    background-color: white;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.delete-spot {
    color: red;
}

.price-edit {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.delete-pop-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 15px 15px;
}

.delete-header-title {
    font-size: 27px;
    font-weight: bold;
}

.x-button {
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
}
