.edit-plant-container {
    padding: 1em 2em 0em;
}

.edit-plant-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 55vh;
    width: 300px;
}

.plant-form-details-label {
    margin-left: 6px;
}

.plant-form-details {
    height: 100px;
    width: 310px;
    border-radius: 10px;
    resize: none;
    overflow-y: auto;
}
