.add-plant-container {
    padding: 1em 2em 2em;
}

.details-label {
    padding-right: 290px;
}

.plant-add-details {
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 330px;
    border-radius: 10px;
    resize: none;
    overflow-y: auto;
}
